In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from google.colab import output
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as ex
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [ ]:
import datetime

In [ ]:
dt_index = pd.date_range(start='20220101', end='20220630')
# pandas.date_range(start='20160901', end='20161031',freq='W-MON')
# 을 하면 해당 기간 매주 월요일들만 추출합니다.

# type(dt_index) => DatetimeIndex
# DatetimeIndex => list(str)
dt_list = dt_index.strftime("%Y-%m-%d").tolist()

In [ ]:
df = pd.DataFrame(dt_list)

In [ ]:
df.head()

            0
0  2022-01-01
1  2022-01-02
2  2022-01-03
3  2022-01-04
4  2022-01-05

In [ ]:
df.shape

(181, 1)

In [ ]:
lst = ['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구']

In [ ]:
lst1=[]
lst2=[]
for i in df[0]:
  for j in range (len(lst)):
   lst1.append(i)
   lst2.append(lst[j])

In [ ]:
dff = pd.DataFrame(lst1)

In [ ]:
dff.head()

            0
0  2022-01-01
1  2022-01-01
2  2022-01-01
3  2022-01-01
4  2022-01-01

In [ ]:
dff['시/군/구']=lst2

In [ ]:
dff.rename(columns={0:'일자'},inplace=True)

In [ ]:
dff.head()

           일자 시/군/구
0  2022-01-01   강남구
1  2022-01-01   강동구
2  2022-01-01   강북구
3  2022-01-01   강서구
4  2022-01-01   관악구

In [ ]:
dff.shape

(4525, 2)

In [ ]:
df_test=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋2022찐최종.csv',encoding='utf-8-sig')

In [ ]:
df_test['인구수'] = df_test.인구수.str.replace(',', '').astype('int')

In [ ]:
df_test.head()

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2022-01-01,강남구,2022,1,1,17,15182,123400.0,227057,38.0,297,1281,1133,22.0,2378,9965,1
1,2022-01-01,강동구,2022,1,1,13,18614,82512.0,114019,30.0,297,1281,1133,22.0,2378,9965,1
2,2022-01-01,강북구,2022,1,1,8,17395,87392.7,65767,14.0,297,1281,1133,22.0,2378,9965,1
3,2022-01-01,강서구,2022,1,1,17,28546,136910.0,105170,92.0,297,1281,1133,22.0,2378,9965,1
4,2022-01-01,관악구,2022,1,1,9,20211,63307.0,140191,13.0,297,1281,1133,22.0,2378,9965,1

In [ ]:
df_test.drop(columns={'연도','월','일','접수건','탑승건','평균대기시간','평균요금','평균승차거리'},inplace=True)

In [ ]:
df_test.head()

           일자 시/군/구  시설수    인구수       교통량     승하차  승차건수  차량운행  휴일여부
0  2022-01-01   강남구   17  15182  123400.0  227057  38.0   297     1
1  2022-01-01   강동구   13  18614   82512.0  114019  30.0   297     1
2  2022-01-01   강북구    8  17395   87392.7   65767  14.0   297     1
3  2022-01-01   강서구   17  28546  136910.0  105170  92.0   297     1
4  2022-01-01   관악구    9  20211   63307.0  140191  13.0   297     1

In [ ]:
df_train = pd.read_csv("/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋최종.csv", encoding='utf-8')

In [ ]:
df_train

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2019-01-01,강남구,2019,17,15439,74968.0,306117,37,201,1406,1046,32.8,2416,10404,0
1,2019-01-01,강동구,2019,13,17669,86442.0,124983,31,201,1406,1046,32.8,2416,10404,0
2,2019-01-01,강북구,2019,8,17517,46124.0,80664,38,201,1406,1046,32.8,2416,10404,0
3,2019-01-01,강서구,2019,17,28854,70420.0,120194,45,201,1406,1046,32.8,2416,10404,0
4,2019-01-01,관악구,2019,9,20299,38121.0,175446,12,201,1406,1046,32.8,2416,10404,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,7686,105349.0,173004,0,465,4047,3245,39.1,2221,8415,0
27396,2021-12-31,은평구,2021,10,21756,34332.0,287807,140,465,4047,3245,39.1,2221,8415,0
27397,2021-12-31,종로구,2021,4,5929,35276.0,476196,56,465,4047,3245,39.1,2221,8415,0
27398,2021-12-31,중구,2021,8,5634,29271.0,623220,16,465,4047,3245,39.1,2221,8415,0
27399,2021-12-31,중랑구,2021,3,20357,55106.0,153590,110,465,4047,3245,39.1,2221,8415,0

In [ ]:
X_train = df_train[['시설수','인구수','교통량','승하차','차량운행']]
y_train = df_train['승차건수']
c_train = df_train['휴일여부']

In [ ]:
X_test = df_test[['시설수','인구수','교통량','승하차','차량운행']]
y_test = df_test['승차건수']
c_test = df_test[['일자','시/군/구','휴일여부']]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
train_data_scaled = scaler.transform(X_train)
test_data_scaled = scaler.transform(X_test)

In [ ]:
X_train_std = pd.DataFrame(train_data_scaled, columns = X_train.columns, index = X_train.index)
X_test_std = pd.DataFrame(test_data_scaled, columns = X_test.columns, index = X_test.index)

In [ ]:
X_train_std

            시설수       인구수       교통량       승하차      차량운행
0      1.416020 -0.055646  0.315053  0.013074 -1.728746
1      0.674648  0.344949  0.693149 -0.838762 -1.728746
2     -0.252066  0.317644 -0.635428 -1.047186 -1.728746
3      1.416020  2.354207  0.165185 -0.861284 -1.728746
4     -0.066723  0.817398 -0.899147 -0.601445 -1.728746
...         ...       ...       ...       ...       ...
27395 -0.622752 -1.448384  1.316181 -0.612929  0.282279
27396  0.118619  1.079132 -1.024004 -0.073034  0.282279
27397 -0.993438 -1.764009 -0.992897  0.812920  0.282279
27398 -0.252066 -1.817003 -1.190776  1.504344  0.282279
27399 -1.178781  0.827817 -0.339449 -0.704230  0.282279

[27400 rows x 5 columns]

In [ ]:
X_test_std

           시설수       인구수       교통량       승하차      차량운행
0     1.416020 -0.101813  1.911006 -0.358729 -0.997464
1     0.674648  0.514707  0.563646 -0.890324 -0.997464
2    -0.252066  0.295728  0.724477 -1.117243 -0.997464
3     1.416020  2.298879  2.356194 -0.931939 -0.997464
4    -0.066723  0.801590 -0.069206 -0.767242 -0.997464
...        ...       ...       ...       ...       ...
2245 -0.622752 -1.448384  5.591137 -0.614053  0.990708
2246  0.118619  1.079132 -0.542140 -0.002563  0.990708
2247 -0.993438 -1.764009  0.007375  1.003553  0.990708
2248 -0.252066 -1.817003 -0.152971  1.540495  0.990708
2249 -1.178781  0.827817  1.770497 -0.678058  0.990708

[2250 rows x 5 columns]

In [ ]:
r1 = pd.concat([X_test_std,c_test],axis=1)

In [ ]:
r2 = pd.concat([r1,y_test],axis=1)

In [ ]:
r2

,시설수,인구수,교통량,승하차,차량운행,일자,시/군/구,휴일여부,승차건수
0,1.416020,-0.101813,1.911006,-0.358729,-0.997464,2022-01-01,강남구,1,38.0
1,0.674648,0.514707,0.563646,-0.890324,-0.997464,2022-01-01,강동구,1,30.0
2,-0.252066,0.295728,0.724477,-1.117243,-0.997464,2022-01-01,강북구,1,14.0
3,1.416020,2.298879,2.356194,-0.931939,-0.997464,2022-01-01,강서구,1,92.0
4,-0.066723,0.801590,-0.069206,-0.767242,-0.997464,2022-01-01,관악구,1,13.0
...,...,...,...,...,...,...,...,...,...
2245,-0.622752,-1.448384,5.591137,-0.614053,0.990708,2022-03-31,용산구,0,0.0
2246,0.118619,1.079132,-0.542140,-0.002563,0.990708,2022-03-31,은평구,0,144.0
2247,-0.993438,-1.764009,0.007375,1.003553,0.990708,2022-03-31,종로구,0,112.0
2248,-0.252066,-1.817003,-0.152971,1.540495,0.990708,2022-03-31,중구,0,19.0
2249,-1.178781,0.827817,1.770497,-0.678058,0.990708,2022-03-31,중랑구,0,111.0

In [ ]:
test = r2[['일자','시/군/구','시설수','인구수','교통량','승하차','차량운행','휴일여부','승차건수']]

In [ ]:
test

,일자,시/군/구,시설수,인구수,교통량,승하차,차량운행,휴일여부,승차건수
0,2022-01-01,강남구,1.416020,-0.101813,1.911006,-0.358729,-0.997464,1,38.0
1,2022-01-01,강동구,0.674648,0.514707,0.563646,-0.890324,-0.997464,1,30.0
2,2022-01-01,강북구,-0.252066,0.295728,0.724477,-1.117243,-0.997464,1,14.0
3,2022-01-01,강서구,1.416020,2.298879,2.356194,-0.931939,-0.997464,1,92.0
4,2022-01-01,관악구,-0.066723,0.801590,-0.069206,-0.767242,-0.997464,1,13.0
...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,-0.622752,-1.448384,5.591137,-0.614053,0.990708,0,0.0
2246,2022-03-31,은평구,0.118619,1.079132,-0.542140,-0.002563,0.990708,0,144.0
2247,2022-03-31,종로구,-0.993438,-1.764009,0.007375,1.003553,0.990708,0,112.0
2248,2022-03-31,중구,-0.252066,-1.817003,-0.152971,1.540495,0.990708,0,19.0
2249,2022-03-31,중랑구,-1.178781,0.827817,1.770497,-0.678058,0.990708,0,111.0

In [ ]:
test.shape

(2250, 9)

In [ ]:
f = pd.merge(left = dff , right = test, how = "left", on = ["일자",'시/군/구'])

In [ ]:
f.head()

,일자,시/군/구,시설수,인구수,교통량,승하차,차량운행,휴일여부,승차건수
0,2022-01-01,강남구,1.416020,-0.101813,1.911006,-0.358729,-0.997464,1.0,38.0
1,2022-01-01,강동구,0.674648,0.514707,0.563646,-0.890324,-0.997464,1.0,30.0
2,2022-01-01,강북구,-0.252066,0.295728,0.724477,-1.117243,-0.997464,1.0,14.0
3,2022-01-01,강서구,1.416020,2.298879,2.356194,-0.931939,-0.997464,1.0,92.0
4,2022-01-01,관악구,-0.066723,0.801590,-0.069206,-0.767242,-0.997464,1.0,13.0

In [ ]:
f.shape

(4525, 9)

In [ ]:
f.isnull().sum()

일자          0
시/군/구       0
시설수      2275
인구수      2275
교통량      2275
승하차      2275
차량운행     2275
휴일여부     2275
승차건수     2275
dtype: int64

In [ ]:
f.to_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋2022년1월_6월.csv',encoding='utf-8-sig', index=False)