In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
from google.colab import output
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as ex
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [3]:
best=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/최종제출데이터/콜택시/calltaxi_Best100.csv',encoding='utf-8')

In [4]:
best.head()

         승차일자    시/도 시/군/구  동/읍/면  승차건수
0  2019-01-01  서울특별시   강서구  등촌제1동   3.0
1  2019-01-01  서울특별시   마포구    상암동   7.0
2  2019-01-01  서울특별시   성북구    종암동   7.0
3  2019-01-01  서울특별시   송파구   문정2동   7.0
4  2019-01-01  서울특별시   은평구    구산동   7.0

In [6]:
gugu = best.groupby(['시/군/구']).agg({'승차건수':'mean'}).reset_index()

In [7]:
gugu.sort_values(by=gugu.columns[1],ascending=False,inplace=True)

In [8]:
gugu

      시/군/구       승차건수
24     서대문구  27.205957
16      노원구  23.198530
20      마포구  22.289291
38      은평구  21.818797
36     영등포구  20.929970
40      종로구  19.781062
19      동작구  18.195732
3       강서구  16.835942
1       강동구  16.702567
35      양천구  15.841185
42      중랑구  15.712882
29      성동구  14.706460
31      송파구  14.617302
10      광진구  14.616350
2       강북구  14.541527
17      도봉구  14.513627
0       강남구  14.003864
11      구로구  13.930431
32   안양시동안구  13.333333
18     동대문구  13.329953
8       관악구  12.795226
30      성북구  12.494527
25      서초구  12.416102
13      금천구  10.913396
41       중구  10.325905
37      용산구  10.091387
43      하남시   9.124074
6   고양시일산서구   5.833333
15     남양주시   5.257384
12      구리시   5.098361
5   고양시일산동구   5.060606
7       과천시   5.033333
14      김포시   4.907317
39     의정부시   4.569106
22   부천시오정구   4.540541
4    고양시덕양구   4.268817
21   부천시소사구   4.241379
27   성남시수정구   4.181818
26   성남시분당구   3.902439
23   부천시원미구   3.772727
34      양주시   3.666667
28   성남시중원구   3.619048
9       광명시   3.547170
33   안양시만안구   2.000000

# 구별 장애인 인구 수2021

In [9]:
pop2021 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/최종제출데이터/인구수/서울시동별장애인인구수2021.csv', encoding='cp949')

In [10]:
pop2021.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
0,기간,자치구,동,합계,합계,합계,지체,지체,지체,뇌병변,...,간,안면,안면,안면,장루요루,장루요루,장루요루,뇌전증,뇌전증,뇌전증
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2021,합계,합계,"392,123","227,302","164,821","167,986","94,721","73,265","40,299",...,828,381,210,171,"2,959","1,830","1,129","1,248",687,561
3,2021,종로구,소계,"5,929","3,426","2,503","2,508","1,370","1,138",553,...,13,7,4,3,30,19,11,16,8,8
4,2021,종로구,사직동,277,163,114,117,71,46,34,...,-,-,-,-,3,2,1,-,-,-

In [11]:
pop21 = pop2021[pop2021['동']=='소계']

In [12]:
pop21.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
3,2021,종로구,소계,"5,929","3,426","2,503","2,508","1,370","1,138",553,...,13,7,4,3,30,19,11,16,8,8
21,2021,중구,소계,"5,634","3,262","2,372","2,498","1,362","1,136",567,...,10,7,3,4,43,29,14,21,12,9
37,2021,용산구,소계,"7,686","4,445","3,241","3,253","1,778","1,475",757,...,11,5,4,1,71,44,27,22,16,6
54,2021,성동구,소계,"11,284","6,515","4,769","5,061","2,844","2,217","1,142",...,29,12,8,4,92,55,37,42,24,18
72,2021,광진구,소계,"12,253","7,087","5,166","5,415","3,019","2,396","1,192",...,18,9,5,4,101,76,25,44,27,17

In [13]:
pop21.rename(columns={'기간':'연도'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
pop21.rename(columns={'자치구':'구'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
pop21.rename(columns={'합계':'인구수'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
pop21_f = pop21[['구','인구수','연도']]

In [17]:
pop21_f.head()

      구     인구수    연도
3   종로구   5,929  2021
21   중구   5,634  2021
37  용산구   7,686  2021
54  성동구  11,284  2021
72  광진구  12,253  2021

In [22]:
pop21_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 37 to 365
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   인구수     25 non-null     object
 2   연도      25 non-null     object
dtypes: object(3)
memory usage: 800.0+ bytes

In [23]:
pop21_f['인구수'] = pop21_f.인구수.str.replace(',', '').astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
pop21_f.sort_values(by=pop21_f.columns[1],ascending=False,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
pop21_f

        구    인구수    연도
258   강서구  28546  2021
170   노원구  26904  2021
190   은평구  21756  2021
103   중랑구  20357  2021
408   송파구  20356  2021
343   관악구  20211  2021
436   강동구  18614  2021
279   구로구  18374  2021
239   양천구  17525  2021
141   강북구  17395  2021
120   성북구  17382  2021
88   동대문구  15518  2021
155   도봉구  15300  2021
384   강남구  15182  2021
307  영등포구  14495  2021
327   동작구  14417  2021
222   마포구  12945  2021
207  서대문구  12311  2021
72    광진구  12253  2021
296   금천구  11458  2021
54    성동구  11284  2021
365   서초구  10291  2021
37    용산구   7686  2021
3     종로구   5929  2021
21     중구   5634  2021